In [ ]:
!consolidar_dataset_cotações_CSV.txt

/bin/bash: consolidar_dataset_cotações_CSV.txt: command not found

In [ ]:
!consolidar_dataset_cotações_CSV.py.txt

/bin/bash: consolidar_dataset_cotações_CSV.py.txt: command not found

In [ ]:
!python consolidar_dataset_cotações_CSV.py.txt

   02012015;220;A;USD;2  ... 8193;1
0  05012015;220;A;USD;2  ...    NaN
1  06012015;220;A;USD;2  ...    NaN
2  07012015;220;A;USD;2  ...    NaN
3  08012015;220;A;USD;2  ...    NaN
4  09012015;220;A;USD;2  ...    NaN

[5 rows x 32 columns]

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv")

In [ ]:
print(df1)

     02012015;220;A;USD;2  6923;2  6929;1  0000;1  0000
0    05012015;220;A;USD;2  7101;2  7107;1  0000;1     0
1    06012015;220;A;USD;2  7016;2  7023;1  0000;1     0
2    07012015;220;A;USD;2  6801;2  6807;1  0000;1     0
3    08012015;220;A;USD;2  6913;2  6919;1  0000;1     0
4    09012015;220;A;USD;2  6577;2  6583;1  0000;1     0
..                    ...     ...     ...     ...   ...
116  24062015;220;A;USD;3  0846;3  0852;1  0000;1     0
117  25062015;220;A;USD;3  1009;3  1015;1  0000;1     0
118  26062015;220;A;USD;3  1265;3  1271;1  0000;1     0
119  29062015;220;A;USD;3  1383;3  1390;1  0000;1     0
120  30062015;220;A;USD;3  1019;3  1026;1  0000;1     0

[121 rows x 5 columns]

In [ ]:
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv")

In [ ]:
print(df2)

     01072015;220;A;USD;3  1185;3  1191;1  0000;1  0000
0    02072015;220;A;USD;3  1166;3  1173;1  0000;1     0
1    03072015;220;A;USD;3  1265;3  1271;1  0000;1     0
2    06072015;220;A;USD;3  1425;3  1431;1  0000;1     0
3    07072015;220;A;USD;3  1803;3  1809;1  0000;1     0
4    08072015;220;A;USD;3  2275;3  2282;1  0000;1     0
..                    ...     ...     ...     ...   ...
122  24122015;220;A;USD;3  9511;3  9524;1  0000;1     0
123  28122015;220;A;USD;3  9180;3  9186;1  0000;1     0
124  29122015;220;A;USD;3  8486;3  8492;1  0000;1     0
125  30122015;220;A;USD;3  9042;3  9048;1  0000;1     0
126  31122015;220;A;USD;3  9042;3  9048;1  0000;1     0

[127 rows x 5 columns]

In [ ]:
df = pd.concat([df1, df2])

In [ ]:
df = pd.concat([df1, df2], axis = 0)

In [ ]:
df = pd.concat([df1, df2], axis = 0, ignore_index = True)

In [ ]:
teste1 = pd.concat([df1, df2],  ignore_index = True)

In [ ]:
print(df1)

     02012015;220;A;USD;2  6923;2  6929;1  0000;1  0000
0    05012015;220;A;USD;2  7101;2  7107;1  0000;1     0
1    06012015;220;A;USD;2  7016;2  7023;1  0000;1     0
2    07012015;220;A;USD;2  6801;2  6807;1  0000;1     0
3    08012015;220;A;USD;2  6913;2  6919;1  0000;1     0
4    09012015;220;A;USD;2  6577;2  6583;1  0000;1     0
..                    ...     ...     ...     ...   ...
116  24062015;220;A;USD;3  0846;3  0852;1  0000;1     0
117  25062015;220;A;USD;3  1009;3  1015;1  0000;1     0
118  26062015;220;A;USD;3  1265;3  1271;1  0000;1     0
119  29062015;220;A;USD;3  1383;3  1390;1  0000;1     0
120  30062015;220;A;USD;3  1019;3  1026;1  0000;1     0

[121 rows x 5 columns]

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv", header-0)

NameError: ignored

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv",header=1)

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv",header=0)

In [ ]:
print(df1)

     02012015;220;A;USD;2  6923;2  6929;1  0000;1  0000
0    05012015;220;A;USD;2  7101;2  7107;1  0000;1     0
1    06012015;220;A;USD;2  7016;2  7023;1  0000;1     0
2    07012015;220;A;USD;2  6801;2  6807;1  0000;1     0
3    08012015;220;A;USD;2  6913;2  6919;1  0000;1     0
4    09012015;220;A;USD;2  6577;2  6583;1  0000;1     0
..                    ...     ...     ...     ...   ...
116  24062015;220;A;USD;3  0846;3  0852;1  0000;1     0
117  25062015;220;A;USD;3  1009;3  1015;1  0000;1     0
118  26062015;220;A;USD;3  1265;3  1271;1  0000;1     0
119  29062015;220;A;USD;3  1383;3  1390;1  0000;1     0
120  30062015;220;A;USD;3  1019;3  1026;1  0000;1     0

[121 rows x 5 columns]

In [ ]:
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv",header=0)

In [ ]:
print(df2)

     01072015;220;A;USD;3  1185;3  1191;1  0000;1  0000
0    02072015;220;A;USD;3  1166;3  1173;1  0000;1     0
1    03072015;220;A;USD;3  1265;3  1271;1  0000;1     0
2    06072015;220;A;USD;3  1425;3  1431;1  0000;1     0
3    07072015;220;A;USD;3  1803;3  1809;1  0000;1     0
4    08072015;220;A;USD;3  2275;3  2282;1  0000;1     0
..                    ...     ...     ...     ...   ...
122  24122015;220;A;USD;3  9511;3  9524;1  0000;1     0
123  28122015;220;A;USD;3  9180;3  9186;1  0000;1     0
124  29122015;220;A;USD;3  8486;3  8492;1  0000;1     0
125  30122015;220;A;USD;3  9042;3  9048;1  0000;1     0
126  31122015;220;A;USD;3  9042;3  9048;1  0000;1     0

[127 rows x 5 columns]

In [ ]:
df = pd.concat([df1, df2], axis=0, ignore_index= True,join='outer')

In [ ]:
print(df)

     02012015;220;A;USD;2  6923;2  6929;1  ...  01072015;220;A;USD;3  1185;3  1191;1
0    05012015;220;A;USD;2  7101;2  7107;1  ...                   NaN     NaN     NaN
1    06012015;220;A;USD;2  7016;2  7023;1  ...                   NaN     NaN     NaN
2    07012015;220;A;USD;2  6801;2  6807;1  ...                   NaN     NaN     NaN
3    08012015;220;A;USD;2  6913;2  6919;1  ...                   NaN     NaN     NaN
4    09012015;220;A;USD;2  6577;2  6583;1  ...                   NaN     NaN     NaN
..                    ...     ...     ...  ...                   ...     ...     ...
243                   NaN     NaN     NaN  ...  24122015;220;A;USD;3  9511;3  9524;1
244                   NaN     NaN     NaN  ...  28122015;220;A;USD;3  9180;3  9186;1
245                   NaN     NaN     NaN  ...  29122015;220;A;USD;3  8486;3  8492;1
246                   NaN     NaN     NaN  ...  30122015;220;A;USD;3  9042;3  9048;1
247                   NaN     NaN     NaN  ...  31122015;220;A;USD;3  9042;3  9048;1

[248 rows x 8 columns]

In [ ]:
s=[df1,df2]

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv",header=0)
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv",header=0)

In [ ]:
print(df2)

     01072015;220;A;USD;3  1185;3  1191;1  0000;1  0000
0    02072015;220;A;USD;3  1166;3  1173;1  0000;1     0
1    03072015;220;A;USD;3  1265;3  1271;1  0000;1     0
2    06072015;220;A;USD;3  1425;3  1431;1  0000;1     0
3    07072015;220;A;USD;3  1803;3  1809;1  0000;1     0
4    08072015;220;A;USD;3  2275;3  2282;1  0000;1     0
..                    ...     ...     ...     ...   ...
122  24122015;220;A;USD;3  9511;3  9524;1  0000;1     0
123  28122015;220;A;USD;3  9180;3  9186;1  0000;1     0
124  29122015;220;A;USD;3  8486;3  8492;1  0000;1     0
125  30122015;220;A;USD;3  9042;3  9048;1  0000;1     0
126  31122015;220;A;USD;3  9042;3  9048;1  0000;1     0

[127 rows x 5 columns]

In [ ]:
frame = pd.concat([df1,df2],ignore_index=True)

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv",header=infer)
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv",header=infer)
li=[]
li.append(df1)
li.append(df2)
junto = pd.concat(li,ignore_index=True)

NameError: ignored

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv")
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv")

In [ ]:
df = df1.append(df2)

In [ ]:
print

In [ ]:
print(frame)

     02012015;220;A;USD;2  6923;2  6929;1  ...  01072015;220;A;USD;3  1185;3  1191;1
0    05012015;220;A;USD;2  7101;2  7107;1  ...                   NaN     NaN     NaN
1    06012015;220;A;USD;2  7016;2  7023;1  ...                   NaN     NaN     NaN
2    07012015;220;A;USD;2  6801;2  6807;1  ...                   NaN     NaN     NaN
3    08012015;220;A;USD;2  6913;2  6919;1  ...                   NaN     NaN     NaN
4    09012015;220;A;USD;2  6577;2  6583;1  ...                   NaN     NaN     NaN
..                    ...     ...     ...  ...                   ...     ...     ...
122                   NaN     NaN     NaN  ...  24122015;220;A;USD;3  9511;3  9524;1
123                   NaN     NaN     NaN  ...  28122015;220;A;USD;3  9180;3  9186;1
124                   NaN     NaN     NaN  ...  29122015;220;A;USD;3  8486;3  8492;1
125                   NaN     NaN     NaN  ...  30122015;220;A;USD;3  9042;3  9048;1
126                   NaN     NaN     NaN  ...  31122015;220;A;USD;3  9042;3  9048;1

[248 rows x 8 columns]

In [ ]:
print(df)

     02012015;220;A;USD;2  6923;2  6929;1  0000;1  ...  1185;3  1191;1  0000;1 0000
0    05012015;220;A;USD;2  7101;2  7107;1  0000;1  ...  1166;3  1173;1  0000;1    0
1    06012015;220;A;USD;2  7016;2  7023;1  0000;1  ...  1265;3  1271;1  0000;1    0
2    07012015;220;A;USD;2  6801;2  6807;1  0000;1  ...  1425;3  1431;1  0000;1    0
3    08012015;220;A;USD;2  6913;2  6919;1  0000;1  ...  1803;3  1809;1  0000;1    0
4    09012015;220;A;USD;2  6577;2  6583;1  0000;1  ...  2275;3  2282;1  0000;1    0
..                    ...     ...     ...     ...  ...     ...     ...     ...  ...
122                   NaN     NaN     NaN     NaN  ...  9511;3  9524;1  0000;1    0
123                   NaN     NaN     NaN     NaN  ...  9180;3  9186;1  0000;1    0
124                   NaN     NaN     NaN     NaN  ...  8486;3  8492;1  0000;1    0
125                   NaN     NaN     NaN     NaN  ...  9042;3  9048;1  0000;1    0
126                   NaN     NaN     NaN     NaN  ...  9042;3  9048;1  0000;1    0

[127 rows x 10 columns]

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("Cotacoes Fechamento USD 2015- 1 semestre.csv")
df2 = pd.read_csv("Cotacoes Fechamento USD 2015- 2 semestre.csv")

In [ ]:
df = pd.concat([df1, df2])

In [ ]:
print(df)

                            Data;Codigo;Tipo;Sigla;Compra;Venda;Nada;Nadinha
2012015;220;A;USD;2  6923;2                                         6929;1;1
5012015;220;A;USD;2  7101;2                                         7107;1;1
6012015;220;A;USD;2  7016;2                                         7023;1;1
7012015;220;A;USD;2  6801;2                                         6807;1;1
8012015;220;A;USD;2  6913;2                                         6919;1;1
...                                                                      ...
24122015;220;A;USD;3 9511;3                                         9524;1;1
28122015;220;A;USD;3 918;3                                          9186;1;1
29122015;220;A;USD;3 8486;3                                         8492;1;1
30122015;220;A;USD;3 9042;3                                         9048;1;1
31122015;220;A;USD;3 9042;3                                         9048;1;1

[250 rows x 1 columns]

In [ ]:
df.to_csv('teste.csv')

# Nova seção

In [1]:
!python consolidar_dataset_cotações_CSV.py.txt

                           Data;Codigo;Tipo;Sigla;Compra;Venda;X;Y
4012016;220;A;USD;4 038;4                                 0387;1;1
5012016;220;A;USD;4 0108;4                                0114;1;1
6012016;220;A;USD;4 0297;4                                0303;1;1
7012016;220;A;USD;4 0469;4                                0475;1;1
8012016;220;A;USD;4 0244;4                                 025;1;1

In [ ]:
!python consolidar_dataset_cotações_CSV.py.txt

                           Data;Codigo;Tipo;Sigla;Compra;Venda;X;Y
2012015;220;A;USD;2 6923;2                                6929;1;1
5012015;220;A;USD;2 7101;2                                7107;1;1
6012015;220;A;USD;2 7016;2                                7023;1;1
7012015;220;A;USD;2 6801;2                                6807;1;1
8012015;220;A;USD;2 6913;2                                6919;1;1