In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

In [ ]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [ ]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o primeiro mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1

In [ ]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345]]

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o primeiro mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [ ]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.155345]]

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == False ):
               cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          else:
               inicio = False
          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [ ]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.155345]]

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")

#excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

In [ ]:
data

          Data   Venda
0      4012016  4.0387
1      5012016  4.0114
2      6012016  4.0303
3      7012016  4.0475
4      8012016  4.0250
...        ...     ...
998   24122019  4.0813
999   26122019  4.0601
1000  27122019  4.0545
1001  30122019  4.0307
1002  31122019  4.0307

[1003 rows x 2 columns]

In [ ]:
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True)

In [ ]:
data

          Data   Venda Data Correta
0      4012016  4.0387   2016-01-04
1      5012016  4.0114   2016-01-05
2      6012016  4.0303   2016-01-06
3      7012016  4.0475   2016-01-07
4      8012016  4.0250   2016-01-08
...        ...     ...          ...
998   24122019  4.0813   2019-12-24
999   26122019  4.0601   2019-12-26
1000  27122019  4.0545   2019-12-27
1001  30122019  4.0307   2019-12-30
1002  31122019  4.0307   2019-12-31

[1003 rows x 3 columns]

In [ ]:
data['Data Correta'][0].month

1

In [ ]:
str(data['Data Correta'][0].day)

'4'

In [ ]:
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True)

SyntaxError: ignored

In [ ]:
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True)

In [ ]:
data

          Data   Venda Data Correta   ano       Mês
0      4012016  4.0387   2016-01-04  2016   janeiro
1      5012016  4.0114   2016-01-05  2016   janeiro
2      6012016  4.0303   2016-01-06  2016   janeiro
3      7012016  4.0475   2016-01-07  2016   janeiro
4      8012016  4.0250   2016-01-08  2016   janeiro
...        ...     ...          ...   ...       ...
998   24122019  4.0813   2019-12-24  2019  dezembro
999   26122019  4.0601   2019-12-26  2019  dezembro
1000  27122019  4.0545   2019-12-27  2019  dezembro
1001  30122019  4.0307   2019-12-30  2019  dezembro
1002  31122019  4.0307   2019-12-31  2019  dezembro

[1003 rows x 5 columns]

In [ ]:
data.groupby(['ano','Mês']).mean()

                        Data     Venda
ano  Mês
2016 abril      1.554202e+07  3.565845
     agosto     1.573419e+07  3.209661
     dezembro   1.616747e+07  3.352268
     fevereiro  1.486412e+07  3.973742
     janeiro    1.651202e+07  4.052350
     julho      1.583392e+07  3.275567
     junho      1.574383e+07  3.424477
     maio       1.552821e+07  3.539290
     março      1.562293e+07  3.703918
     novembro   1.611202e+07  3.342030
     outubro    1.655202e+07  3.185845
     setembro   1.656821e+07  3.256371
2017 abril      1.531979e+07  3.136172
     agosto     1.608202e+07  3.150917
     dezembro   1.542202e+07  3.291915
     fevereiro  1.285535e+07  3.104194
     janeiro    1.596656e+07  3.196609
     julho      1.631011e+07  3.206138
     junho      1.615726e+07  3.295367
     maio       1.637020e+07  3.209509
     março      1.637984e+07  3.127930
     novembro   1.651202e+07  3.259380
     outubro    1.624487e+07  3.191229
     setembro   1.629202e+07  3.134790
2018 abril      1.528011e+07  3.407495
     agosto     1.642984e+07  3.929757
     dezembro   1.592202e+07  3.885055
     fevereiro  1.496646e+07  3.241500
     janeiro    1.633020e+07  3.210609
     julho      1.602656e+07  3.828764
     junho      1.582392e+07  3.773171
     maio       1.605202e+07  3.636057
     março      1.541297e+07  3.279214
     novembro   1.691202e+07  3.786665
     outubro    1.592020e+07  3.758409
     setembro   1.603939e+07  4.116547
2019 abril      1.480392e+07  3.896157
     agosto     1.612747e+07  4.019982
     dezembro   1.564583e+07  4.109590
     fevereiro  1.512202e+07  3.723625
     janeiro    1.669384e+07  3.741682
     julho      1.572419e+07  3.779339
     junho      1.532518e+07  3.858826
     maio       1.709747e+07  4.001518
     março      1.697939e+07  3.846484
     novembro   1.591202e+07  4.155345
     outubro    1.610202e+07  4.086987
     setembro   1.533011e+07  4.121500

In [ ]:
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numContações
          
          somaCotacoes = data['Venda'][row]
          numCotações = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
     listaComMediasMensaisParaCadaLinha.append(cotacaoMediaMesAnterior)

NameError: ignored

In [ ]:
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotações
          
          somaCotacoes = data['Venda'][row]
          numCotações = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
     listaComMediasMensaisParaCadaLinha.append(cotacaoMediaMesAnterior)     
     

#insere nova coluna no pandas com medias de cotacoes do mes anterior
data.insert(5,'Cotação média do mês anterior',listaComMediasMensaisParaCadaLinha,True)

NameError: ignored

In [ ]:
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          
          somaCotacoes = data['Venda'][row]
          numCotações = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
     listaComMediasMensaisParaCadaLinha.append(cotacaoMediaMesAnterior)     
     

#insere nova coluna no pandas com medias de cotacoes do mes anterior
data.insert(5,'Cotação média do mês anterior',listaComMediasMensaisParaCadaLinha,True)

In [ ]:
data

          Data   Venda  ...       Mês  Cotação média do mês anterior
0      4012016  4.0387  ...   janeiro                       4.038700
1      5012016  4.0114  ...   janeiro                       4.038700
2      6012016  4.0303  ...   janeiro                       4.038700
3      7012016  4.0475  ...   janeiro                       4.038700
4      8012016  4.0250  ...   janeiro                       4.038700
...        ...     ...  ...       ...                            ...
998   24122019  4.0813  ...  dezembro                       0.088789
999   26122019  4.0601  ...  dezembro                       0.088789
1000  27122019  4.0545  ...  dezembro                       0.088789
1001  30122019  4.0307  ...  dezembro                       0.088789
1002  31122019  4.0307  ...  dezembro                       0.088789

[1003 rows x 6 columns]

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")

#excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 


#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
         
     listaComMediasMensaisParaCadaLinha.append(cotacaoMediaMesAnterior)     
     

#insere nova coluna no pandas com medias de cotacoes do mes anterior
data.insert(5,'Cotação média do mês anterior',listaComMediasMensaisParaCadaLinha,True)

In [ ]:
data

          Data   Venda  ...       Mês  Cotação média do mês anterior
0      4012016  4.0387  ...   janeiro                       4.038700
1      5012016  4.0114  ...   janeiro                       4.038700
2      6012016  4.0303  ...   janeiro                       4.038700
3      7012016  4.0475  ...   janeiro                       4.038700
4      8012016  4.0250  ...   janeiro                       4.038700
...        ...     ...  ...       ...                            ...
998   24122019  4.0813  ...  dezembro                       4.155345
999   26122019  4.0601  ...  dezembro                       4.155345
1000  27122019  4.0545  ...  dezembro                       4.155345
1001  30122019  4.0307  ...  dezembro                       4.155345
1002  31122019  4.0307  ...  dezembro                       4.155345

[1003 rows x 6 columns]

In [ ]:
data.to_excel('Cotações após extrair e transformar - 2016 a 2019.xlsx')

In [ ]:
!python transformar_dataset_cotacoes.py.txt

In [ ]:
data.head(10)

       Data   Venda Data Correta   ano      Mês  Cotação média do mês anterior
0   4012016  4.0387   2016-01-04  2016  janeiro                         4.0387
1   5012016  4.0114   2016-01-05  2016  janeiro                         4.0387
2   6012016  4.0303   2016-01-06  2016  janeiro                         4.0387
3   7012016  4.0475   2016-01-07  2016  janeiro                         4.0387
4   8012016  4.0250   2016-01-08  2016  janeiro                         4.0387
5  11012016  4.0153   2016-01-11  2016  janeiro                         4.0387
6  12012016  4.0299   2016-01-12  2016  janeiro                         4.0387
7  13012016  3.9863   2016-01-13  2016  janeiro                         4.0387
8  14012016  4.0223   2016-01-14  2016  janeiro                         4.0387
9  15012016  4.0402   2016-01-15  2016  janeiro                         4.0387

In [ ]:
!python transformar_dataset_cotacoes.py.txt

In [ ]:
data

          Data   Venda  ...       Mês  Cotação média do mês anterior
0      4012016  4.0387  ...   janeiro                       4.038700
1      5012016  4.0114  ...   janeiro                       4.038700
2      6012016  4.0303  ...   janeiro                       4.038700
3      7012016  4.0475  ...   janeiro                       4.038700
4      8012016  4.0250  ...   janeiro                       4.038700
...        ...     ...  ...       ...                            ...
998   24122019  4.0813  ...  dezembro                       4.155345
999   26122019  4.0601  ...  dezembro                       4.155345
1000  27122019  4.0545  ...  dezembro                       4.155345
1001  30122019  4.0307  ...  dezembro                       4.155345
1002  31122019  4.0307  ...  dezembro                       4.155345

[1003 rows x 6 columns]

In [ ]:
!python transformar_dataset_cotacoes.py.txt

In [10]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == False ):
               cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          else:
               inicio = False

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [11]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.155345]]

In [12]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          #if ( inicio == False ):
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          #else:
          #     inicio = False

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [13]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [14]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          #if ( inicio == False ):
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          #else:
          #     inicio = False

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [15]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [16]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)
#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          #if ( inicio == False ):
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          #else:
          #     inicio = False

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [17]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [18]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = data['Data Correta'][0].month
ano = data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
ano += 1
mes += 1
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          #if ( inicio == False ):
          cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
          #else:
          #     inicio = False

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

ZeroDivisionError: ignored

In [19]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 #data['Data Correta'][0].month
ano = 0 #data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                  

          listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
          somaCotacoes = data['Venda'][row]
          numCotacoes = 1
          
          mes = data['Data Correta'][row].month
          ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [20]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [21]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 #data['Data Correta'][0].month
ano = 0 #data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                  
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [23]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.0530684210526315],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [24]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 #data['Data Correta'][0].month
ano = 0 #data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                  
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
          
                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [25]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 1, 4.05235],
 [2016, 2, 3.9737421052631583],
 [2016, 3, 3.7039181818181817],
 [2016, 4, 3.565845000000001],
 [2016, 5, 3.5392904761904767],
 [2016, 6, 3.4244772727272728],
 [2016, 7, 3.2755666666666663],
 [2016, 8, 3.209660869565218],
 [2016, 9, 3.256371428571429],
 [2016, 10, 3.1858449999999996],
 [2016, 11, 3.34203],
 [2016, 12, 3.3522681818181823],
 [2017, 1, 3.196609090909091],
 [2017, 2, 3.1041944444444445],
 [2017, 3, 3.127930434782609],
 [2017, 4, 3.1361722222222217],
 [2017, 5, 3.209509090909091],
 [2017, 6, 3.295366666666667],
 [2017, 7, 3.2061380952380953],
 [2017, 8, 3.1509173913043473],
 [2017, 9, 3.1347899999999997],
 [2017, 10, 3.1912285714285713],
 [2017, 11, 3.25938],
 [2017, 12, 3.2919150000000004],
 [2018, 1, 3.2106090909090907],
 [2018, 2, 3.2415000000000003],
 [2018, 3, 3.2792142857142856],
 [2018, 4, 3.407495238095238],
 [2018, 5, 3.6360571428571427],
 [2018, 6, 3.773171428571428],
 [2018, 7, 3.8287636363636377],
 [2018, 8, 3.929756521739131],
 [2018, 9, 4.1165473684210525],
 [2018, 10, 3.7584090909090904],
 [2018, 11, 3.786665],
 [2018, 12, 3.885055],
 [2019, 1, 3.7416818181818186],
 [2019, 2, 3.7236249999999997],
 [2019, 3, 3.846484210526316],
 [2019, 4, 3.896157142857142],
 [2019, 5, 4.001518181818183],
 [2019, 6, 3.8588263157894738],
 [2019, 7, 3.7793391304347828],
 [2019, 8, 4.019981818181818],
 [2019, 9, 4.1215],
 [2019, 10, 4.08698695652174],
 [2019, 11, 4.155345],
 [2019, 12, 4.109590476190476]]

In [26]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 #data['Data Correta'][0].month
ano = 0 #data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                           
                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year

                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes

In [27]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 2, 4.05235],
 [2016, 3, 3.9737421052631583],
 [2016, 4, 3.7039181818181817],
 [2016, 5, 3.565845000000001],
 [2016, 6, 3.5392904761904767],
 [2016, 7, 3.4244772727272728],
 [2016, 8, 3.2755666666666663],
 [2016, 9, 3.209660869565218],
 [2016, 10, 3.256371428571429],
 [2016, 11, 3.1858449999999996],
 [2016, 12, 3.34203],
 [2017, 1, 3.3522681818181823],
 [2017, 2, 3.196609090909091],
 [2017, 3, 3.1041944444444445],
 [2017, 4, 3.127930434782609],
 [2017, 5, 3.1361722222222217],
 [2017, 6, 3.209509090909091],
 [2017, 7, 3.295366666666667],
 [2017, 8, 3.2061380952380953],
 [2017, 9, 3.1509173913043473],
 [2017, 10, 3.1347899999999997],
 [2017, 11, 3.1912285714285713],
 [2017, 12, 3.25938],
 [2018, 1, 3.2919150000000004],
 [2018, 2, 3.2106090909090907],
 [2018, 3, 3.2415000000000003],
 [2018, 4, 3.2792142857142856],
 [2018, 5, 3.407495238095238],
 [2018, 6, 3.6360571428571427],
 [2018, 7, 3.773171428571428],
 [2018, 8, 3.8287636363636377],
 [2018, 9, 3.929756521739131],
 [2018, 10, 4.1165473684210525],
 [2018, 11, 3.7584090909090904],
 [2018, 12, 3.786665],
 [2019, 1, 3.885055],
 [2019, 2, 3.7416818181818186],
 [2019, 3, 3.7236249999999997],
 [2019, 4, 3.846484210526316],
 [2019, 5, 3.896157142857142],
 [2019, 6, 4.001518181818183],
 [2019, 7, 3.8588263157894738],
 [2019, 8, 3.7793391304347828],
 [2019, 9, 4.019981818181818],
 [2019, 10, 4.1215],
 [2019, 11, 4.08698695652174],
 [2019, 12, 4.155345],
 [2019, 12, 4.109590476190476]]

In [28]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 #data['Data Correta'][0].month
ano = 0 #data['Data Correta'][0].year
somaCotacoes = 0
numCotacoes = 0
#cotacaoMediaMesAnterior = data['Venda'][0]  #para o primeiro mes a media anterior será a primeira cotacao dele (estimativa)
listaComMediasMensaisParaCadaLinha = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])

                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                           
                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year

                  listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1

In [29]:
listaComMediasMensaisParaCadaLinha

[[2016, 1, 4.0387],
 [2016, 2, 4.05235],
 [2016, 3, 3.9737421052631583],
 [2016, 4, 3.7039181818181817],
 [2016, 5, 3.565845000000001],
 [2016, 6, 3.5392904761904767],
 [2016, 7, 3.4244772727272728],
 [2016, 8, 3.2755666666666663],
 [2016, 9, 3.209660869565218],
 [2016, 10, 3.256371428571429],
 [2016, 11, 3.1858449999999996],
 [2016, 12, 3.34203],
 [2017, 1, 3.3522681818181823],
 [2017, 2, 3.196609090909091],
 [2017, 3, 3.1041944444444445],
 [2017, 4, 3.127930434782609],
 [2017, 5, 3.1361722222222217],
 [2017, 6, 3.209509090909091],
 [2017, 7, 3.295366666666667],
 [2017, 8, 3.2061380952380953],
 [2017, 9, 3.1509173913043473],
 [2017, 10, 3.1347899999999997],
 [2017, 11, 3.1912285714285713],
 [2017, 12, 3.25938],
 [2018, 1, 3.2919150000000004],
 [2018, 2, 3.2106090909090907],
 [2018, 3, 3.2415000000000003],
 [2018, 4, 3.2792142857142856],
 [2018, 5, 3.407495238095238],
 [2018, 6, 3.6360571428571427],
 [2018, 7, 3.773171428571428],
 [2018, 8, 3.8287636363636377],
 [2018, 9, 3.929756521739131],
 [2018, 10, 4.1165473684210525],
 [2018, 11, 3.7584090909090904],
 [2018, 12, 3.786665],
 [2019, 1, 3.885055],
 [2019, 2, 3.7416818181818186],
 [2019, 3, 3.7236249999999997],
 [2019, 4, 3.846484210526316],
 [2019, 5, 3.896157142857142],
 [2019, 6, 4.001518181818183],
 [2019, 7, 3.8588263157894738],
 [2019, 8, 3.7793391304347828],
 [2019, 9, 4.019981818181818],
 [2019, 10, 4.1215],
 [2019, 11, 4.08698695652174],
 [2019, 12, 4.155345]]

In [30]:
df = pd.DataFrame()

In [33]:
df.inser(1,"nomecol",listaComMediasMensaisParaCadaLinha[0])

AttributeError: ignored

In [34]:
df = pd.DataFrame()
df.insert(0,'ano',listaAnos,True) 
df.insert(1,'Mês',listaMeses,True)
df.insert(2,'Mês',listaMedias,True)

NameError: ignored

In [35]:
import pandas as pd
from datetime import datetime

data = pd.read_excel("Cotacoes Fechamento USD - 2016 a 2019.xlsx")


#Passo 1: excluindo algumas colunas que não são de interesse
data.drop(columns= ['Codigo', 'Tipo', 'Sigla', 'Compra', 'X', 'Y'], inplace = True)

#restaram as colunas Data e Venda apenas

# Passo 2:
#Resolve o problema de haver datas com 7 digitos apenas
#exemplo 4012016 é transformada para 04/01/2016A
listaComDatasCorretas = []
numlin = len(data)
for row in range(numlin):
    if len(str(data['Data'][row])) < 8:
         uma_data_com_8_digitos = "0" + str(data['Data'][row])
         date = datetime.strptime(uma_data_com_8_digitos, '%d%m%Y').date()
         listaComDatasCorretas.append(date)
    else:
         date = datetime.strptime(str(data['Data'][row]), '%d%m%Y').date()
         listaComDatasCorretas.append(date)

#insere nova coluna no pandas com datas corretas
data.insert(2,'Data Correta',listaComDatasCorretas,True) 

#Passo 3:
#Criar colunas de ano e mês   
listaComAnos = []
listaComMeses = []
numlin = len(data)
for row in range(numlin):

    #criar lista de meses
    if data['Data Correta'][row].month == 1:
         listaComMeses.append("janeiro")
    elif data['Data Correta'][row].month == 2:
         listaComMeses.append("fevereiro")
    elif data['Data Correta'][row].month == 3:
         listaComMeses.append("março")
    elif data['Data Correta'][row].month == 4:
         listaComMeses.append("abril")
    elif data['Data Correta'][row].month == 5:
         listaComMeses.append("maio")
    elif data['Data Correta'][row].month == 6:
         listaComMeses.append("junho")
    elif data['Data Correta'][row].month == 7:
         listaComMeses.append("julho")
    elif data['Data Correta'][row].month == 8:
         listaComMeses.append("agosto")
    elif data['Data Correta'][row].month == 9:
         listaComMeses.append("setembro") 
    elif data['Data Correta'][row].month == 10:
         listaComMeses.append("outubro")
    elif data['Data Correta'][row].month == 11:
         listaComMeses.append("novembro")
    elif data['Data Correta'][row].month == 12:
         listaComMeses.append("dezembro")
    else:
         print("Erro: mês inválido") 

    #criar lista de anos
    listaComAnos.append(data['Data Correta'][row].year)

#insere nova coluna no pandas com os anos
data.insert(3,'ano',listaComAnos,True) 

#insere nova coluna no pandas com os meses
data.insert(4,'Mês',listaComMeses,True) 

#Passo 4:
#calcular as médias mensais do dólar
#Criar colunas de ano e mês   
mes = 0 
ano = 0 
somaCotacoes = 0
numCotacoes = 0

listaAnos = []
listaMeses = []
listaMedias = []
inicio = True
numlin = len(data)

#listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior]) # add para o ultimo mes
for row in range(numlin):

     if data['Data Correta'][row].month != mes or data['Data Correta'][row].year != ano:        
          
          if ( inicio == True ):
                  cotacaoMediaMesAnterior = data['Venda'][0]
                  inicio = False
                  mes = data['Data Correta'][0].month
                  ano = data['Data Correta'][0].year
                  #listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
                  listaAnos.append(ano)
                  listaMeses.append(mes)
                  listaMedias.append(cotacaoMediaMesAnterior)


                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year
          else:
                  cotacaoMediaMesAnterior = somaCotacoes/numCotacoes
                           
                  somaCotacoes = data['Venda'][row]
                  numCotacoes = 1
          
                  mes = data['Data Correta'][row].month
                  ano = data['Data Correta'][row].year

                  #listaComMediasMensaisParaCadaLinha.append([ano,mes,cotacaoMediaMesAnterior])
                  listaAnos.append(ano)
                  listaMeses.append(mes)
                  listaMedias.append(cotacaoMediaMesAnterior)
     else:
          somaCotacoes += data['Venda'][row]
          numCotacoes += 1
           
df = pd.DataFrame()
df.insert(0,'ano',listaAnos,True) 
df.insert(1,'Mês',listaMeses,True)
df.insert(2,'Mês',listaMedias,True)

In [36]:
df

     ano  Mês       Mês
0   2016    1  4.038700
1   2016    2  4.052350
2   2016    3  3.973742
3   2016    4  3.703918
4   2016    5  3.565845
5   2016    6  3.539290
6   2016    7  3.424477
7   2016    8  3.275567
8   2016    9  3.209661
9   2016   10  3.256371
10  2016   11  3.185845
11  2016   12  3.342030
12  2017    1  3.352268
13  2017    2  3.196609
14  2017    3  3.104194
15  2017    4  3.127930
16  2017    5  3.136172
17  2017    6  3.209509
18  2017    7  3.295367
19  2017    8  3.206138
20  2017    9  3.150917
21  2017   10  3.134790
22  2017   11  3.191229
23  2017   12  3.259380
24  2018    1  3.291915
25  2018    2  3.210609
26  2018    3  3.241500
27  2018    4  3.279214
28  2018    5  3.407495
29  2018    6  3.636057
30  2018    7  3.773171
31  2018    8  3.828764
32  2018    9  3.929757
33  2018   10  4.116547
34  2018   11  3.758409
35  2018   12  3.786665
36  2019    1  3.885055
37  2019    2  3.741682
38  2019    3  3.723625
39  2019    4  3.846484
40  2019    5  3.896157
41  2019    6  4.001518
42  2019    7  3.858826
43  2019    8  3.779339
44  2019    9  4.019982
45  2019   10  4.121500
46  2019   11  4.086987
47  2019   12  4.155345

In [37]:
!python transformar_dataset_cotacoes.py.txt